#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Hgdc-X
GenericName=Hgdc-X
Comment=GUI HGD Client
Categories=AudioVideo
Exec=env LIBOVERLAY_SCROLLBAR=0 hgdcx
Icon=/usr/share/Hgdc-X/hgdcx.png
StartupNotify=true
Terminal=false
Type=Application

